/* GitHub-style syntax highlighting for Rouge */
/* Based on GitHub's Primer color system */
/* Safari-compatible: uses code element in selectors for proper specificity */

.highlight {
  background: #f6f8fa;
  
  /* Override inherited colors - must be explicit for Safari */
  code {
    color: #24292f;
    background: transparent;
    
    /* Token styles - nested under code for Safari specificity */
    .k,    /* Keyword */
    .kd,   /* Keyword.Declaration */
    .kn,   /* Keyword.Namespace */
    .kp,   /* Keyword.Pseudo */
    .kr,   /* Keyword.Reserved */
    .kt    /* Keyword.Type */ {
      color: #cf222e !important;
      font-weight: bold;
    }
    
    .nb,   /* Name.Builtin */
    .nc,   /* Name.Class */
    .no,   /* Name.Constant */
    .nd,   /* Name.Decorator */
    .ni,   /* Name.Entity */
    .ne,   /* Name.Exception */
    .nf,   /* Name.Function */
    .nl,   /* Name.Label */
    .nn    /* Name.Namespace */ {
      color: #8250df !important;
    }
    
    .s,    /* String */
    .s1,   /* String.Single */
    .s2,   /* String.Double */
    .sb,   /* String.Backtick */
    .sc,   /* String.Char */
    .sd,   /* String.Doc */
    .sh,   /* String.Heredoc */
    .si,   /* String.Interpol */
    .sx,   /* String.Other */
    .sr,   /* String.Regex */
    .ss    /* String.Symbol */ {
      color: #0a3069 !important;
    }
    
    .m,    /* Number */
    .mf,   /* Number.Float */
    .mh,   /* Number.Hex */
    .mi,   /* Number.Integer */
    .il,   /* Number.Integer.Long */
    .mo,   /* Number.Oct */
    .mb    /* Number.Bin */ {
      color: #0550ae !important;
    }
    
    .c,    /* Comment */
    .c1,   /* Comment.Single */
    .cm,   /* Comment.Multiline */
    .cp,   /* Comment.Preproc */
    .cs    /* Comment.Special */ {
      color: #6e7781 !important;
      font-style: italic;
    }
    
    .o,    /* Operator */
    .ow    /* Operator.Word */ {
      color: #cf222e !important;
    }
    
    .p     /* Punctuation */ {
      color: #24292f !important;
    }
    
    .na,   /* Name.Attribute */
    .nv,   /* Name.Variable */
    .vc,   /* Name.Variable.Class */
    .vg,   /* Name.Variable.Global */
    .vi    /* Name.Variable.Instance */ {
      color: #953800 !important;
    }
    
    .nt    /* Name.Tag */ {
      color: #116329 !important;
    }
    
    .se    /* String.Escape */ {
      color: #0550ae !important;
      font-weight: bold;
    }
    
    .err   /* Error */ {
      color: #f6f8fa !important;
      background-color: #82071e !important;
    }
    
    .w     /* Whitespace */ {
      color: #6e7781 !important;
    }
  }
}
