title: "Dapy: distributed algorithms in Python"

description: "Simulate, prototype, and visualize distributed algorithms."

baseurl: "/dapy"

# Jekyll configuration
markdown: kramdown
highlighter: rouge
theme: jekyll-theme-slate
plugins:
  - jekyll-seo-tag
  - jekyll-feed

# Syntax highlighting configuration
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: false
